
Module 
  ModulePrefs(title="__MSG_title__", description="__MSG_description__", height="40", author="__MSG_author__", author_email="timetracker-game@sneakemail.com", screenshot="http://www.TheProductivityGame.com/storage/time-tracker/screenshot.png", thumbnail="http://www.TheProductivityGame.com/storage/time-tracker/thumbnail.png") 
    Require(feature="dynamic-height")
    Require(feature="google.calendar-0.5")
    Require(feature="google.calendar-0.5.read")
    Require(feature="locked-domain")
    Locale(messages="http://www.TheProductivityGame.com/storage/time-tracker/ALL_ALL.xml")
  Content(type="html") 